{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pymes</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/triplebcss.css'%}">
    <link rel="stylesheet" href="{% static '/w3.css'%}">
    <script src={% static "/js/jquery-3.5.1.min.js" %}></script>
    <script src={% static "/js/app.js" %}></script>
</head>
<body>
    


</body>