{% load static %}
<!doctype html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static '/w3.css'%}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>RegistrarPyme</title>
</head>
<style>
body {
    background-color: #19ad70;
    font-family: 'Roboto', sans-serif;
  }
</style>
  <div class="w3-sidebar w3-bar-block w3-pale-red w3-card w3-animate-left" style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button  w3-large" onclick="w3_close()">Cerrar &times;</button>
    <h3 onclick="location.href='/home/'" class="w3-bar-item w3-button" style="color:white;"> Home </h3>
    <h3 onclick="location.href=''" class="w3-bar-item w3-button" style="color:white;">Prestigio</h3>
    <h3 onclick="location.href=''" class="w3-bar-item w3-button" style="color: white;">USM</h3>
    <h3 onclick="location.href='/quienes_somos2'"class="w3-bar-item w3-button" style="color: white;">¿Quienes Somos?</h3>
  </div>
  
  <!--Barra registrate -->
  <div id="main"></div>
  <div class="w3-pale-red">
    <button id="openNav" class="w3-button w3-pale-red w3-xlarge" onclick="w3_open()">&#9776;</button>
    <div class="w3-container">
      <img src="{%static 'img/logo pymenton3.png'%}" alt="Py1" style="width:4%" >
      <font id="titulo" color=yellow size=6 face="Roboto">Pymenton.cl</font>

    </div>
  </div>

  <script>
    function w3_open() {
      document.getElementById("main").style.marginLeft = "25%";
      document.getElementById("mySidebar").style.width = "25%";
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("openNav").style.display = "inline-block";
    }
  </script>


<form method="post">
	
    {% csrf_token %}
	<div class="w3-green w3-hover-shadow w3-center"> 
		<div >
			<div class="col-md-8 col-md-offset-2">
				<div class="form-group" style="color: purple; text-align: center;font-size:140%; height:620px;background:#c8e5eb;border: 2px solid black; text-shadow:1px 1px 0 #444">
					<label>{{form.as_p}}</label>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="form-group"  style = "text-align: center;">
								<button class="btn btn-primary "type="submit">Guardar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>    
	</div> 

