body {
    background-color: #19ad70;
    font-family: 'Roboto', sans-serif;
  }

  #logo_pymenton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  #uno {
    width: 150%;
  }

  #titulo {
    text-shadow: 1px 1px 2px black; 
  }

  @import url(https://fonts.googleapis.com/css?family=Montserrat);

  html, body{
    height: 100%;
    font-weight: 800;
  }
  
  body{
    background: #0eac6a;
    font-family: Arial;
  }
  
  svg {
      display: block;
      font: 10.5em 'Pymenton';
      width: 960px;
      height: 260px;
      margin: 50px auto;
  }
  
  .text-copy {
      fill: none;
      stroke: white;
      stroke-dasharray: 6% 29%;
      stroke-width: 8px;
      stroke-dashoffset: 0%;
      animation: stroke-offset 5.5s infinite linear;
  }

  .text-copy:nth-child(1){
    stroke: purple;
    animation-delay: -1;
  }
  
  .text-copy:nth-child(2){
    stroke: black;
    animation-delay: -2s;
  }
  
  .text-copy:nth-child(3){
    stroke: black;
    animation-delay: -3s;
  }
  
  .text-copy:nth-child(4){
    stroke: purple;
    animation-delay: -4s;
  }
  
  .text-copy:nth-child(5){
    stroke: purple;
    animation-delay: -5s;
  }

  .text-copy:nth-child(6){
    stroke: black;
    animation-delay: -6s;
  }

  .text-copy:nth-child(7){
    stroke: black;
    animation-delay: -7s;
  }
  
  @keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
  }

